* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

.header {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-weight: bolder;
    background: #6e7546;
    font-size: 20px;
}

.code {
    padding: 10px;
    text-align: right;
}

.container { display: grid; }

.btn {
    cursor: pointer;
    padding-top: 0px;
    width: 100%;
    border: 0;
    background: #1f424d;
    color: white;
    padding: 2px;
    font-size: 20px;
    position: center;
}

#stop {display: none;}